@import "./common/styles/variable.css";
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--background);
}